//自訂變數
$main-dark-b:#376273;
$main-light-b: rgba(204, 223, 234, 0.68);

.form-control {
  background-clip: border-box !important;
}

a {
  &:hover {
    text-decoration: none !important;
  }
}

//自訂Class
.bg-cover {
  background-size: cover;
  background-position: center center;
}

.bg-cover-l {
  background-size: cover;
  background-position: center left;
}

.bg-cover-b {
  background-size: cover;
  background-position: center bottom;
}

.border-x-1 {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.bg-blue {
  background-color: $main-dark-b;
}

.bg-blue-op9 {
  background-color: #376273fa;
}

.bg-blue-l {
  background-color: $main-light-b;
}

.tool-card-item {
  border-left: 1px solid $main-light-b;
  border-right: 1px solid $main-light-b;
}

.tool-card .btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.production-img {
  background-color: transparent;
  color: transparent;
  width: 100%;
  height: 100%;
  font-weight: bolder;
  font-size: 30px;
  transition: all 0.5s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(1px);
    text-decoration: none;
  }
}

.product-card {
  position: relative;
  width: 100%;
  height: 315px;
  overflow: hidden;
}

.product-intro {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;

  .product-intro-filter {
    background-color: transparent;
    color: transparent;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    font-size: 30px;
    transition: all 0.5s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      text-decoration: none;
    }
  }

  &:hover {
    transform: scale(1.2);
  }
}

.font-24 {
  font-size: 24px !important;
}

.font-20 {
  font-size: 20px !important;
}

.circle-img {
  border-radius: 50px;
}

.production-list {
  .list-group-item {
    border: 1px solid $main-light-b;
    color: $main-dark-b;
    font-weight: bolder;

    &:hover {
      background-color: $main-light-b;
    }

    &.active {
      background-color: $main-light-b;
      border-color: $main-light-b;
      color: $main-dark-b;
    }
  }
}


.cart-img {
  min-width: 110px;
  min-height: 110px;
}

.cart-input {
  border-style: none;
  border: 1px solid $main-light-b;
  width: 48px;
  text-align: center;
  z-index: 1;
  transition: box-shadow 0.3s;

  &:focus {
    outline-style: none;
    box-shadow: 0 0 5px 2px $main-dark-b;
  }
}

.cart-form {
  display: flex;

  button {
    &:focus {
      box-shadow: none;
    }
  }
}

@keyframes ldio-gx7c5s03jv {
  0% {
    transform: translate(12px, 80px) scale(0);
  }

  25% {
    transform: translate(12px, 80px) scale(0);
  }

  50% {
    transform: translate(12px, 80px) scale(1);
  }

  75% {
    transform: translate(80px, 80px) scale(1);
  }

  100% {
    transform: translate(148px, 80px) scale(1);
  }
}

@keyframes ldio-gx7c5s03jv-r {
  0% {
    transform: translate(148px, 80px) scale(1);
  }

  100% {
    transform: translate(148px, 80px) scale(0);
  }
}

@keyframes ldio-gx7c5s03jv-c {
  0% {
    background: #376273
  }

  25% {
    background: #71c2cc
  }

  50% {
    background: #d8ebf9
  }

  75% {
    background: #5699d2
  }

  100% {
    background: #376273
  }
}

.ldio-gx7c5s03jv div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(80px, 80px) scale(1);
  background: #376273;
  animation: ldio-gx7c5s03jv 1s infinite cubic-bezier(0, 0.5, 0.5, 1);
}

.ldio-gx7c5s03jv div:nth-child(1) {
  background: #5699d2;
  transform: translate(148px, 80px) scale(1);
  animation: ldio-gx7c5s03jv-r 0.25s infinite cubic-bezier(0, 0.5, 0.5, 1), ldio-gx7c5s03jv-c 1s infinite step-start;
}

.ldio-gx7c5s03jv div:nth-child(2) {
  animation-delay: -0.25s;
  background: #376273;
}

.ldio-gx7c5s03jv div:nth-child(3) {
  animation-delay: -0.5s;
  background: #5699d2;
}

.ldio-gx7c5s03jv div:nth-child(4) {
  animation-delay: -0.75s;
  background: #d8ebf9;
}

.ldio-gx7c5s03jv div:nth-child(5) {
  animation-delay: -1s;
  background: #71c2cc;
}

.loadingio-spinner-ellipsis-aby2qqypx7 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-gx7c5s03jv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-gx7c5s03jv div {
  box-sizing: content-box;
}

/* generated by https://loading.io/ */